#titulo {
    text-align: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 80px;
}

#content {
    width: 80%;
    margin: auto;
}
#posiciones {
    margin: 10px 0;
     margin-bottom: 80px;
}

#areaDecodificado {
    float: left;    
}

#areaCodificado {
    float: right;
}

body {
    background: url(img/fondo.jpg);
}

#button-posiciones {
    background-color: white;
}

#buttonReversible {
    background-color: white;
    margin: 0 7%;
}

button, textarea, input, #titulo {
    border-radius: 7px; 
    box-shadow: 6px 3px 19px 9px rgba(0,0,0,0.81);
}

#inputPosiciones {
    width: 50px;
}